/*
------------------------------------------

------------------------------------------
*/
/*Tiny device(like my current phone:tecno-y2*/


@media screen and (device-aspect-ratio: 2/3){
  .card-img{
    height:50% !important;
    width:50% !important;
  }
  .arrow{
    color: black !important;
    background-color: #ffca04 !important;
    border:1px black solid !important;
    padding-right: 70px !important;
    padding-left: 70px !important;
  
  }
  
  .btn{
    margin-top: 85px;
   
  }


  .new{
    background-color: whitesmoke;
    min-height: 10vh;
    margin-top: 70px !important;
  }
  
  #view2 .lead{
    text-align: center;
  }
  
  #view2 .lead h2{
    padding-top: 20px; 
    font-size: xx-small; 

  }

  

}

/*Small devices (tablets, 768px and up) */
@media (max-width:992px) {
  /*
  ------------------------------------------------------
  JUMBOTRON
  ------------------------------------------------------
  */
  
  .jumbotron {
    margin-top: 170px !important;
    background-color: white !important;
    background-image: url("./binarymap.jpg");
    background-size: contain;
    background-repeat: no-repeat;

  }
  
  .jumbotron h1{
    font-size: 40px;
    margin-top: 140px;
    text-align: center;
    word-spacing: 2em;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700 !important;
  }
  
  .jumbotron .lead{
    text-align: center;
    margin-top: 40px;
    font-size: 21px !important;
    line-height: 30px;
   
  }
  
  .arrow{
    color: black !important;
    background-color: #ffca04 !important;
    border:1px black solid !important;
    padding-right: 70px !important;
    padding-left: 70px !important;
    margin-top:25px;
    margin-bottom: 0px !important;
  }
  .temp{
    margin-top: 40px !important;
    background-color: whitesmoke;
    min-height: 10vh;
    margin-top: 30px !important;
  }
  .new{
    background-color: whitesmoke;
    min-height: 110px;
    margin-top: -30px !important;

  }
  
  #view2 .lead{
    text-align: center;
  }
  
  #view2 .lead h2{
    padding-top: 20px; 
    font-size: larger; 
  }


  .lead2{
    text-align: center;
    background-color: whitesmoke;
    margin-bottom:20px;
  }
  
  .lead2 h2{
    padding-top:30px;
    padding-bottom:10px;
    font-size: larger;
  }

  .lead2:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 5px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #ffca04; /* This creates the border. Replace black with whatever color you want. */
    padding-bottom: 10px;
    margin-top: -25px;
  }

  blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
  }
  
  blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
  }
  
  blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }
  
  blockquote cite:before {
    content: "\2014 \2009";
  }

  .inside{
    border:1px solid white;
    border-radius: 20px;
    background-color: white;
  }
  

  .desktop{
    display: none !important;
  }
  
  
}

/* Medium devices (desktops, 992px and up) 
@media (min-width: 992px) {
  .jumbotron h1 {
    font-size: 40px;
    
}

#view2 .lead h2{
  margin-top: 140px;
}

.lead{
  font-size: 40px !important;
}
}

/*Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron h1 {
      font-size: 400%;
  }

  .jumbotron {
    margin-top: 170px !important;
    background-color: white !important;
    background-image: url("./binarymap.jpg");
    background-size: 100% 100%;
    max-height: 480px !important;
  }

  .jumbotron h1{
    margin-top: 20px;
    text-align: center;
    word-spacing: 2em;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700 !important;
  }

  .jumbotron .lead{
    text-align: center;
    margin-top: 90px;
    font-size: 50px !important;
    line-height: 55px;
    font-weight: 700 !important;
  }

  .arrow{
    color: black !important;
    background-color: #FED80A !important;
    border:1px black solid !important;
    padding-right: 70px !important;
    padding-left: 70px !important;

  }

  .btn{
    margin-top: 45px;
    margin-bottom: 40px !important;
  }

  .new{
    background-color: whitesmoke;
    min-height: 85px;
  }

  #view2 .lead{
    text-align: center;
  }

  #view2 .lead h2{
    padding-top: 20px;  
  }

  .temp{
    margin-top: 40px !important;
    background-color: whitesmoke;
    min-height: 10vh;
    margin-top: 30px !important;
  }
  
  
  .lead2{
    text-align: center;
    background-color: whitesmoke;
  }

  .card-img{
    height:350px;
    width:350px !important;
  }

  .trust{
    height:400vh;
    margin-top: -1px !important;
  }
  
  .lead2 h2{
    padding-top:30px;
  }

  .lead2:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 30%; /* Change this to whatever width you want. */
    padding-top: 5px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #FED706; /* This creates the border. Replace black with whatever color you want. */
    margin-top:-5px;
    margin-bottom: 20px;
  }
  
  .card p {
    font-size: larger;
  }

  .inside{
    border:1px solid white;
    border-radius: 20px;
    background-color: white;
  }

  .inside h3{
    text-align: center !important;
  }

  .inside blockquote{
    text-align: center;
    font-size: xx-large;
    margin-left: 200px !important;
    margin-top: 80px !important;
  }

  .mobile{
    display: none !important;
  }

  blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
  }
  
  blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
  }
  
  blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }
  
  blockquote cite:before {
    content: "\2014 \2009";
  }
  

}

/*
------------------------------------------
NAVBAR
------------------------------------------
*/

.navbar-nav > .nav-item{
  margin-right:50px;
  font-size: larger;
}

.activeItem{
  border-bottom: 4px #ffca04 solid;
}

.navbar-brand{

 /* left: 8%;*/
  margin:0;
  bottom:10%;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}



/*
----------------------------------------------------
BELT
----------------------------------------------------
*/
.frame{
  width:350px
}









.temp2{
  margin-top: 0px !important;
  background-color: whitesmoke;
  min-height: 5vh;
  
}





